<%= simple_form_for(User.new, as: :user, url: registration_path(:user)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, autofocus: true %>
    <%= f.input :password, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), placeholder: "At least 6 characters" %>
    <%= f.input :password_confirmation %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign Up", :class => 'btn-signup' %>
  </div>
<% end %>

<div class="text-center">
  <%= render "devise/shared/links" %>
</div>
<!-- form-actions -->
