<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "d-logo.png" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <% if user_signed_in? %>
    <!-- Button (call-to-action) -->
    <%#= link_to t(".top_call_to_action", default: "ADD ITEM"), "#", class: "navbar-wagon-item navbar-wagon-link btn" %>
    <!-- New with modal -->
    <button type="button" class="navbar-wagon-item navbar-wagon-button" data-toggle="modal" data-target="#modalNew">ADD ITEM</button>

    <!-- Button (call-to-action) -->
    <%#= link_to t(".top_call_to_action", default: "REPORT LOST"), "#", class: "navbar-wagon-item navbar-wagon-link btn" %>
    <!-- New with link to "Report Lost Page" -->
    <button type="button" class="navbar-wagon-item navbar-wagon-button" data-toggle="modal" data-target="#modalReport">REPORT LOST</button>

    <!-- Different navigation if login or not -->

      <!-- Avatar and Dropdown -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <%= image_tag "http://www.gamesindustry.biz/img/base/default-user.png", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
              <!-- My Items -->
              <li><%= link_to "/items" do %>
                <i class="fa fa-user"></i> <%= t(".dashboard", default: "My Items") %></li>
              <% end %>
              <!-- Privacy -->
              <li class="privacy-link"><%= link_to "Privacy Settings", "#" %></li>
              <!-- Log Out -->
              <li class="logout-link"><%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %></li>
              <% end %>
          </ul>
        </div>
      </div>
        <% else %>
      <!-- Login text link -->
      <%= link_to t(".sign_in", default: "LOG IN"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-button-bordered" %>
      <%= link_to t(".sign_up", default: "SIGN UP"), new_user_registration_path, class: "navbar-wagon-item navbar-wagon-button-bordered" %>
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><%= link_to "/users/index" do %>
            <%= t(".dashboard", default: "Dashboard") %>
            <% end %>
        </li>
        <li><%= link_to destroy_user_session_path, method: :delete do %>
            <%= t(".sign_out", default: "Log out") %>
            <% end %>
        </li>
      </ul>
    </div>

  </div>
</div>

<!-- Bootstrap Modal -->
<div class="modal fade" id="modalReport" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">

        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Report a lost item</h4>

      </div>

      <div class="modal-body">
        <%= render "/items/edit" %>
      </div>
    </div>
  </div>
</div>
