<!-- This is the "Contact the Owner" page -->
<div class="container">
  <div class="row">

    <div class="col-xs-6 text-center">
      <div class="code-big"><strong><%= "# " + @item.code %></strong></div>
      <div class="item-name-big"><%= @item.name %></div>
      <div><%= "$ " + @item.reward.to_s  + ".00 " %></div>
      <div><%= @item.description %></div>
    </div>

    <div class="col-xs-6 text-center">

        <!-- Email form below -->
        <div align="center">
          <h3>Hurry up! Send a message to the owner</h3>

          <%= simple_form_for Contact.new, :html => {:class => 'form-horizontal' } do |f| %>
            <%= f.input :name, :required => true %>
            <%= f.input :email, :required => true %>
            <%= f.input :message, :as => :text, :required => true, :placeholder => "Hi, I've just found your item! " %>
            <div class= "hidden">
             <%= f.input :nickname, :hint => 'Leave this field blank!' %>
            </div>
        <div>
        </br>
          <%= f.button :submit, 'Send Message', :class=> "btn btn-primary" %>
        </div>
          <% end %>
      </div>
      <!-- Ends email form -->

    </div>


  </div> <!-- Closes Row -->
</div> <!-- Closes Container -->
