<div class="container">
  <div class="row">

    <div class="col-xs-6 text-center">
    <br>
      <div class="code-big"><strong><%= "# " + @item.code %></strong></div>
      <div class="item-name-big"><%= @item.name %></div>
      <div><%= "$ " + @item.reward.to_s  + ".00 " %></div>
      <div><%= @item.description %></div>
    </div>

    <div class="col-xs-6 text-center">
      <h3>Email form below</h3>
        <div align="center">
         <%= simple_form_for @item, url:  { action: 'mail', controller: 'items', id: @item.id }, method: "POST", html: {class: "add_item"} do |f| %>
            <p>Place your email: </p>
            <p><%= f.text_field :contact, placeholder: "your email" %></p>
            <p>Place your phone: </p>
            <p><%= f.text_field :contact, placeholder: "your phone #" %></p>
            <%= f.text_area :message, placeholder: "Share the good new, tell the owner you found their #{@item.name}!! :)", size: "38x9" %>
            <br>
            <%= f.submit "Send" %>
          <% end %>
        </div>
    </div>
  </div>
</div>
