<div class="banner" align="center">
  <div class="banner-content">

    <h1 class="home-title" align="center">Get your lost items back</h1>
    <p class="home-p">Thanks to Dantera, returning lost items is now easy, simple and secure</p>

    <div align="center">
    <!-- Search Form -->
      <%= form_tag(items_show_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Got a code?", class: "search-bar" %>
        <%= submit_tag "Search", :name => nil, class: "search-btn" %>
      <% end %>
    </div>

    <!-- Register new item button -->
    <div class="block">
      <p class="easy-n-free">
      <button type="button" class="register-link" style="border: none; background: none; padding: 0; font-weight: bold" data-toggle="modal" data-target="#modalNew">Our service is free &nbsp; <span class="text-bold">Try it out</span></button></p>
    </div>
  </div>

<!-- Closes Banner -->
</div>

<!-- Modal for register items  -->
<div class="modal fade" id="modalNew" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>

      <div class="modal-body">
        <div class="modal-banner text-center">
          <%= image_tag "stamp.png", width: "70px" %>
          <h3>Add an item</h3>
        </div>

        <%= render "items/new" %>
      </div>

      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-primary">Sign Up</button>
      </div> -->
    </div>
  </div>
</div>

<!-- Bootstrap Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <ul class="list-inline">
        <li><h4 class="modal-title" id="myModalLabel">Create Account &nbsp; </h4></li>
        <li><h4> <%= render "devise/shared/login" %></h4></li>
        </ul>
        <h6 class="modal-description">It's free and simple</h6>
      </div>

      <div class="modal-body">
        <%= render "devise/registrations/new" %>
      </div>
    </div>
  </div>
</div>
