  <%= simple_form_for Item.new, url: {action: "create", controller: "items"}, html: {class: "add_item"} do |f| %>

    <div class="row">
      <div class="col-xs-6">
        <h6>Item name</h6>
        <div><%= f.text_field :name, placeholder: "e.g. Leather Wallet", class: "modal-field" %></div>
      </div>
      <div class="col-xs-6">
        <h6>Default reward</h6>
        <%= f.text_field :reward, placeholder: "20", class: "modal-field" %>

      </div>
    </div>
    <h6>Email address</h6>

    <% if current_user %>
      <div><%= f.text_field :contact, value: current_user.email, class: "modal-field" %></div>
    <% else %>
      <div><%= f.text_field :contact, class: "modal-field" %></div>
    <% end %>

    <h6>Description</h6>
      <div><%= f.text_area :description, placeholder: "Describe your item: color, size, serial number, etc...", class: "modal-description", size: "26x6" %></div>
  <!-- Uploading Photo -->
    <% if user_signed_in? %>
    <h6>Upload photo</h6>
      <div><%= f.input :photo, label: false %></div>
        <%= f.input :photo_cache, as: :hidden %>
      <% end %>
  <!-- Submit -->
      <div><%= f.submit "Create New", method: "POST", class: "search-btn", style: "width: 100%" %></div>
    <% end %>
