<h2 align="center">My Items</h2>

<div class="container">
  <div class="row">

    <% @items.each do |item| %>
      <div class="col-sm-4" style="border: 1px solid #dbdbdb">
        <%= "# " + item.code %><br>
        <%= item.name %><br>
        <%= item.description %><br>
        <%= item.reward %><br>
        <%= cl_image_tag item.photo, height: 100, width: 100, crop: :fill %>
      </div>
    <% end %>

  </div>
</div>
