<div class="container min-height">
  <h2 align="center" class="my-items">My Items <span class="counter"><%= @items.count %></span></h2>
  <div class="row">

    <% @items.each do |item| %>

      <div class="col-sm-4 padded">
        <div class="main-card"> <!-- White Background -->

            <div class="card-img" style="background-image: url('<%= cl_image_path item.photo, height: 300, width: 500, crop: :fill %>')">
            </div>

            <div class="name-n-code">
              <h3 class="item-name"><%= item.name %></h3>
              <p class="item-desc"><%= item.description %></p>
              <p class="item-tag">
                <span id="the-hash"># </span><span id="item-code"><%= item.code %></span>
              </p>
              <div class="reward"><%= "$" + item.reward.to_s + ".00" %></div>
            </div>

            <div class="card-footer">
              <div class="print-code-link"><a href="/users/new">Print Code</a></div>
              <div class="delete-link"><i class="fa fa-trash" aria-hidden="true"></i><%= link_to "Remove", item_path(item),
        method: :delete,
        data: { confirm: "Are you sure?" } %></div>
            </div>


      </div> <!-- Closes main-card -->
    </div>
    <% end %>
    </div>
  </div>

<!--
<div class="bottom-link" align="center">
  <ul class="list-inline">

    <li><button type="button" class="add-new" data-toggle="modal" data-target="#modalNew">Add New</button></li>
    <li><div class="in-between"></div></li>
    <li class="dash-link"><a href="/users/index">Dashboard</a></li>
  </ul>
</div>
-->

<!-- Bootstrap Modal -->
<div class="modal fade" id="modalNew" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>

      <div class="modal-body">
        <div class="modal-banner text-center">
          <%= image_tag "stamp.png", width: "70px" %>
          <h3>Report an item</h3>
        </div>

        <%= render "items/new" %>
      </div>

      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-primary">Sign Up</button>
      </div> -->
    </div>
  </div>
</div>
