<div class="container min-height">
  <h2 align="center" class="my-items">My Items</h2>
  <div class="row">

    <% @items.each do |item| %>

      <div class="col-sm-4 padded">
        <div class="main-card"> <!-- White Background -->

            <div class="card-img">
              <%= cl_image_tag item.photo, height: 100, width: 100, crop: :fill %>
            </div>

            <div class="name-n-code">
            <ul class="list-unstyled">
              <li class="item-name"><%= item.name %></li>
              <li><em><span id="the-hash"># </span><span id="item-code"><%= item.code %></span></em></li>
            </ul>
            </div>

          <div class="item-info"><%= item.description %></div>
          <div class="reward"><%= "Reward: $" + item.reward.to_s + ".00" %></div>

          <ul class="list-inline card-bottom">
          <li><div class="print-code-link"><a href="/users/new">Print Code</a></div></li>
          <li><div class="in-between-bottom"></div></li>
          <li><div class="delete-link"><i class="fa fa-trash" aria-hidden="true"></i><%= link_to "Remove", item_path(item),
      method: :delete,
      data: { confirm: "Are you sure?" } %></div></li>
          </ul>

      </div> <!-- Closes main-card -->
    </div>
    <% end %>
    </div>
  </div>

<!--
<div class="bottom-link" align="center">
  <ul class="list-inline">

    <li><button type="button" class="add-new" data-toggle="modal" data-target="#modalNew">Add New</button></li>
    <li><div class="in-between"></div></li>
    <li class="dash-link"><a href="/users/index">Dashboard</a></li>
  </ul>
</div>
-->

<!-- Bootstrap Modal -->
<div class="modal fade" id="modalNew" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <ul class="list-inline">
        <li><h4 class="modal-title" id="myModalLabel">Create New</h4></li>
        <!-- <li><h4> <%#= render "devise/shared/login" %></h4></li> -->
        </ul>
        <!-- <h6 class="modal-description">It's free and simple</h6> -->
      </div>

      <div class="modal-body">
        <%= render "items/new" %>
      </div>

      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-primary">Sign Up</button>
      </div> -->
    </div>
  </div>
</div>
